{% extends "base.html" %}
{% load static %}

{% block title %}Restaurant Page{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'awaygoApp/restaurant/restaurant.css' %}">
    <link href='http://serve.fontsproject.com/css?family=Simple+CLM:400' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/329214ebee.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <h3>{{restaurant.name}}</h3>
    <br/>
    <a href="{% url 'logout' %}">Logout</a>
    
{% endblock %}