# env file with django secret key
/awaygo/.env

# ======================

# When pishing to github ignore /staticfiles. Use git rm -r --cached staticfiles before adding to the staging area.

# github
# /staticfiles

# =====================