.dishes-visibility {
    background-color: white;
    padding: 20px 50px;
    direction: rtl;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.dishes-visibility .dish-input input, .dishes-visibility .dish-input label{
    cursor: pointer;
}

.dishes-visibility .update-button{
    border: none;
    background-color: orange;
    cursor: pointer;
    padding: 14px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.dishes-visibility .update-button:hover{
    background-color: rgb(224, 146, 0);
}

.dishes-visibility .spinner-and-error {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.dishes-visibility .spinner-and-error .loader {
    font-size: 11px;
}

.dishes-visibility .spinner-and-error .loader:before {
    background: gray;
}