.name-and-price {
    display: flex;
    justify-content: space-between;
}

.name-and-price h4,  .name-and-price p {
    margin: 12px 0;
}

.delete {
    text-align: left;
}

.delete i {
    cursor: pointer;
}

.delete i:hover {
    color: gray;
}