:root{
    --maring-between: 10px;
}

.spinner-or-error {
    text-align: center;
    background-color: white;
    padding: 80px;
}

.add-order-window  {
    display: flex;
    flex-direction: row-reverse;
    width: 1300px;
    height: 500px;
    background-color: white;
}

.add-order-window h2, .add-order-window h3 {
    color: #3a96e1;
    margin-bottom: 5px;
    margin-top: 7px;
}

.add-order-window .customer-and-menu {
    flex-grow: 1;
    padding: 25px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
 ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.cart {
    width: 400px;
    padding: 10px;
}

.make-order {
    background-color: orange;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    margin-top: var(--maring-between);

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.make-order h1 {
    margin: 0;
}

.make-order:hover {
    background-color: rgb(211, 137, 0);
}