.dish-details {
    background-color: white;
    padding: 20px;
    min-width: 500px;
}

.dish-details .price-and-counter {
    display: flex;
    justify-content: space-between;
}

.category-inputs {
    display: flex;
    flex-wrap: wrap;
}

.category-inputs .extra-input {
     width: 33%;
    /* min-width: min-content; */
    flex-shrink: 1;
    flex-grow: 1;
    margin-bottom: 10px;
}

.category-inputs .extra-input input, .category-inputs .extra-input label {
    cursor: pointer;
}

.add-dish-button {
    display: block;
    width: 100%;
    background-color: orange;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    padding: 12px;
}

.add-dish-button:hover {
    background-color: rgb(218, 141, 0);
}