# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# ======================

# When deploying, ignore /src. For github ignore /build Use git rm -r --cached restaurant/<folder> before adding to the staging area.

# github
# /build

# production 
/src

# =====================

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
