.back {
    text-align: left;
    margin-bottom: 20px;
}

.back span {
    cursor: pointer;
    text-decoration: underline;
    color: gray;
}

.back span:hover {
    color: rgb(78, 78, 78);
}

.form-window {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 25px;
}

.form-window form {
    width: 100%;
}

.details-section {
    display: flex;
    justify-content: center;
}

.details-section .input-couple {
    display: flex;
    /* justify-content: space-between; */
}

.details-section .info label{
    display: block;
    margin-bottom: 10px;
}

.details-section .info input, .remark-section input {
    height: 30px;
    width: 250px;
    background-color: rgb(249, 249, 249);
    border: 1px solid gray;
}

.details-section .seperator {
    width: 40px;
    min-width: 40px;
}

/* .details-section .info {
    margin-left: 40px;
} */

.form-window .remark-section input{
    width: 500px;
}

.form-window .submit-section {
    margin-top: 60px;
    text-align: center;
}

.form-window .submit-section button {
    width: 350px;
    background-color: orange;
    font-size: 18px;
    border: none;
    padding: 12px;
    cursor: pointer;
    margin: auto;
}

.submit-section button:hover {
    background-color: rgb(218, 141, 0);
}

.invalid label{
    color: red;
    font-weight: bold;
}

.invalidMessage {
    text-align: center;
    margin-top: 10px;
    color: red;
}

.spinner-and-error {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.spinner-and-error .loader:before {
    background: gray;
}


@media screen and (max-width: 1190px) {

    .form-window .details-section {
        flex-direction: column;
        align-items: center;
    }

    .form-window .remark-section {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .form-window .details-section .input-couple {
        flex-direction: column;
    }

    .form-window .remark-section input {
        width: 90%;
    }

    .form-window .submit-section button {
        width: 100%;
    }
}

