.dish-in-cart .name-and-price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.dish-in-cart .name-and-price h4{
    margin: 10px 0 10px 0;
}

.dish-in-cart .delete {
    text-align: left;
}

.dish-in-cart .delete i {
    cursor: pointer;
}

.dish-in-cart .delete i:hover {
    color: gray;
}