.menu .nav-and-hr {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 40px;
    background-color: white;
}

.categories-and-cart {
    display: flex;
}

.categories-and-cart .categories {
    width: 900px;
    margin-left: 20px;
}

.categories-and-cart .category {
    padding-top: 1px;
}

.categories-and-cart .category h3 {
    color: #008ab1;
}

.categories-and-cart .category .dishes-in-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-and-cart .category .dishes-in-category .dish {
    width: 47%;
    background-color: rgb(245, 245, 245);
    padding: 10px;
    margin-bottom: 13px;
    cursor: pointer;
}

.categories-and-cart .category .dishes-in-category .dish h4 {
    margin-top: 5px;
    margin-bottom: 0;
}

.categories-and-cart .category .dishes-in-category .dish .price {
    margin-bottom: 3px;
}

.categories .dish {
    display: flex;
    justify-content: space-between;
}

.categories .dish .dish-image{
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.categories .dish .dish-image img{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 1190px){
    .categories-and-cart .category .dishes-in-category .dish {
        width: 100%;
    }

    .categories-and-cart .categories {
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    .categories-and-cart {
        flex-direction: column-reverse;
    }
}