.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sub-header .add-order-button {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.sub-header .add-order-button img{
    cursor: 70px;
    height: 70px;
}

.sub-header .navigation {
    display: flex;
    flex: 1;
    direction: rtl;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.sub-header .navigation .navigation-button {
    cursor: pointer;
    color: black;
}

.sub-header .navigation .navigation-button:hover {
    color: gray;
}

.sub-header .navigation .navigation-button i{
    margin-left: 10px;
}

.sub-header .navigation .separator {
    margin: 0 15px;
}
