/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.cart-window {
    /* width: 100%; */
    height: fit-content;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 2px 8px 0 rgba(0, 0, 0, 0.05);
    padding: 10px;
}

.cart-window .dishes-in-order {
    overflow-y: auto;
    max-height: 450px;
    padding-left: 5px;
}

.cart-window .total-price{
    text-align: center;
}

.cart-window .submit-order {
    display: block;
    width: 100%;
    background-color: orange;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    padding: 12px;
 }

.cart-window .submit-order:hover {
    background-color: rgb(218, 141, 0);
}