.dish-name{
    background-color: #f6f6f6;
    cursor: pointer;
    margin: 2px 0 2px 0;
    padding: 4px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.dish-extras {
    background-color: #fafafa;
    padding-bottom: 20px;
}

.dish-extras h4{
    margin: 10px 0 10px 0;
}

.dish-extras .description-and-counter{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.dish-extras .description-and-counter .counter{
    flex-direction: row-reverse;
}

.dish-extras .category-inputs {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.dish-extras .category-inputs .extra-input{
    margin-left: 10px;
}

.dish-extras .category-inputs .extra-input label, .dish-extras .category-inputs .extra-input input{
    cursor: pointer;
}

.dish-extras .dish-description input{
    width: 95%;
    direction: rtl;
}

.dish-extras .add-dish-button {
    text-align: center;
    margin-top: 10px;
}

.dish-extras .add-dish-button button {
    background-color: orange;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-weight: bold;
}

.dish-extras .add-dish-button button:hover {
    background-color: rgb(211, 137, 0);
}