header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f5f5f5;
    box-shadow: 0 1px 6px #8f8f8f;
    padding: 3px;
}

header .logo {
    margin: auto;
}

header .logout {
    position: absolute;
    left: 20px;
}

header .logout a{
    font-size: 14px;
    color: #666;
}

header .logout a:hover{
    color: #444;
}

header .logout .header-icon {
    margin: 0 6px 0 20px;
    color: #666;
    font-size: 18px;
}