.order-details {
    margin-bottom: 35px;
}

.order-details .remark input{
    width: 80%;
}


.order-details .customer-details, .order-details .address-details {
    display: flex;
    flex-direction: row-reverse;
}

.order-details .input-couple {
    display: flex;
}

.order-details .order-input {
    flex: 1;
    margin: 0 0 5px 6px;
}

.order-details .invalid label {
    font-weight: bold;
    color: red;
}


.order-details input {
    background-color: #f1f8fe;
    border: 1px solid #bdcdd8;
    padding: 10px;
    direction: rtl;
}

.order-details input::placeholder {
    text-align: right;
    color: #3a96e1;
}

@media only screen and (max-width : 1230px) {
    .order-details .input-couple {
        display: block;
    }
}